.header{
    height:65px;
    width:100%;
    background-color:rgba(255, 255, 255, 0.332);
    color:red; 
    display:flex
}


.chList{

}

.chList h3{
    color: white;
    display: inline-flex;
    /* margin-left: 15px;
    margin-right: 15px; */
    width: 33%;
    justify-content: center;
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 110px;
    display: flex;
    justify-content: center;

}   

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}


/* 
.content{
    width: 60%;
    height: 40%;
    padding: 20px;
} */

.close{
    position: relative;
    top: -10px;

}



/* character creation additions: */



.form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*best font so far*/
display: flex;
/* background-color: rgba(255, 255, 255, 0.451); */

background-image: url('/assets/12.jpg');
background-size: cover; 
background-position: center center; 
background-repeat: no-repeat; 

height: 85%;
width: 70%;
flex-direction: column;
align-items: center;
position: absolute;
margin-top: 35px;
margin-left: 15%;
margin-right: 15%;

}



.class-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 200px;
    
}

.class-card img{
    border: 2px solid transparent;    
}

.class-card img:hover{
border: 2px solid transparent;
transition: border-color 0.3s; 
border-color: yellow;
filter: brightness(1.2) hue-rotate(20deg); 
}


.nameBox{
    align-items: center;
}


.createChBtn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;

}


.error{
    height: 150px;
    width: 370px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(182, 16, 16);
    flex-direction: column;
    align-items: center;
    position: absolute;
}



.listOfCharacters{
    background-color: rgba(0, 0, 0, 0.315);

    /* border-style: solid; */
    border-color: white;
    border-width: 1px;
    height: 70px;
    display: inline-block; /* or 'block' depending on layout needs */
    width: 100%;
}


.listOfCharacters:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
